body{
    font-family: 'Merienda', cursive;
}
.flex-container {
 margin: auto;
    width: 1200px;
}
.flex-container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: left;
}
.box {
    float: left;
    width: 33.33%;
    border: 1px solid white;
    padding: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 576px) {
    .box {
        width: 100%;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 900px) {
    .box {
        width: 45%;
        margin-top: 5px;
    }
}


